@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import "@fontsource/instrument-serif";

.font-instrument-serif {
  font-family: "Instrument Serif", serif;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}
